
<div class="nav">
<div class="top-bar">
    <div class="tbar-menu">
        <h6 class="tbar-heading"><strong>Welcome To Ideal Bazar Collection</strong></h6>
        <ul>
            <li><a href="#">My Account</a></li>
            <li><a [routerLink]="['cart']">My Cart</a></li>
            <li><a [routerLink]="['signup']">Sign Up</a></li>
            <li><a [routerLink]="['login']">Login</a></li>
        </ul>
    </div>
</div>
<div class="mid-bar">
    <div class="form">
        <input type="text" class="form-control" placeholder="Search Entire Store Here">
    </div>
    
    <div class="cart-align">
        <span class="fa fa-shopping-cart fa-lg"></span>
    </div>
</div>
    
    <div class="bottom-bar">
        <div class="main-menu">
                <ul class="navbar-nav">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">MEN'S WEAR</a></li>
                    <li><a href="#">WOMEN'S WEAR</a></li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">CONTACT US</a></li>                
                </ul>
            </div>    
        </div>
    </div>