<div class="back-image">
  <div class="login">
    <div class="heading">
      <h1 class="text-center">LOGIN</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <form action="">

      <div class="col-sm-12">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <input class="form-control" type="text" placeholder="Email">
          <div class="col-sm-4"></div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <input class="form-control" type="password" placeholder="Password">
          <div class="col-sm-4"></div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
          <button class="btn btn-login">LOG IN</button>
        </div>
        <div class="col-sm-5"></div>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <button class="btn btn-fb">
            <i class="fa fa-lg fa-facebook pull-left"></i>
            <span class="text-center"> LOG IN WITH FACEBOOK </span>
          </button>
        </div>
        <div class="col-sm-4"></div>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <button class="btn btn-google">
            <i class="fa fa-lg fa-google pull-left"></i>
            <span class="text-center"> LOG IN WITH GOOGLE </span>
          </button>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </form>
  </div>
</div>
