<div class="back-image">
  <div class="cart">
    <div class="heading">
      <h1 class="text-center">CHECKOUT DETAILS</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="return">
    <p>Returning customer?
      <a href="">Click here to login</a>
    </p>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h3>BILLING DETAILS</h3>
      <div class="form-group">
        <label>First Name (Required)</label>
        <br>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>Last Name (Required)</label>
        <br>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>Company Name</label>
        <br>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>Email Address (Required)</label>
        <br>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>Cell Number (Required)</label>
        <br>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>City (Required)</label>
        <br>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>Your Address (Required)</label>
        <br>
        <textarea class="form-control" name="" id="" cols="30" rows="2"></textarea>
      </div>
      <div class="form-group">
        <label>Town (Required)</label>
        <br>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>State (Required)</label>
        <br>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>Zip Code (Required)</label>
        <br>
        <input class="form-control" type="text">
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox"> Create an Account
        </label>
      </div>
      <h3>ADDITIONAL INFORMATION</h3>
      <div class="form-group">
        <label>Order Notes</label>
        <br>
        <textarea class="form-control" name="" id="" cols="30" rows="2" placeholder="Notes about your order. e.g. special notes for delivery."></textarea>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="text-center">
          <h3>Your Order</h3>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Product</th>
              <th>Qty.</th>
              <th class="text-center">Price (Rs.)</th>
              <th class="text-center">Total (Rs.)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-md-9">
                <p>HP Notebook 14 (Core i3)</p>
              </td>
              <td class="col-md-1" style="text-align: center"> 2 </td>
              <td class="col-md-1 text-center">45,000/-</td>
              <td class="col-md-1 text-center">90,000/-</td>
            </tr>
            <tr>
              <td class="col-md-9">
                <p>HP Notebook 14 (Core i5)</p>
              </td>
              <td class="col-md-1" style="text-align: center"> 1 </td>
              <td class="col-md-1 text-center">45,000/-</td>
              <td class="col-md-1 text-center">45,000/-</td>
            </tr>
            <tr>
              <td class="col-md-9">
                <p>HP Notebook 15 (Core i7)</p>
              </td>
              <td class="col-md-1" style="text-align: center"> 3 </td>
              <td class="col-md-1 text-center">45,000/-</td>
              <td class="col-md-1 text-center">135,000/-</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-hover">
          <tbody>
              <tr>
                  <td class="col-md-1">   </td>
                  <td class="col-md-1">   </td>
                  <td class="col-md-5 text-right">
                    <p>
                      <strong>Subtotal: </strong>
                    </p>
                    <p>
                      <strong>Delivery Charges: </strong>
                    </p>
                  </td>
                  <td class="col-md-5 text-right">
                    <p>
                      <strong>Rs. 270,000/-</strong>
                    </p>
                    <p>
                      <strong>Rs. 200/-</strong>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td class="col-md-1"></td>
                  <td class="col-md-1"></td>
                  <td class="col-md-5 text-right">
                    <h4>
                      <strong>Total: </strong>
                    </h4>
                  </td>
                  <td class="col-md-5 text-right">
                    <h4>
                      <strong>Rs. 270,200/-</strong>
                    </h4>
                  </td>
                </tr>
          </tbody>
        </table>
        <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox"> &nbsp; I've read and accept the <a href="">Terms & Conditions.</a>
            </label>
          </div>
        <button type="button" class="btn btn-success btn-lg btn-block">
          PLACE ORDER
        </button>
      </div>
    </div>
  </div>
</div>
