<div class="back-image">
  <div class="cart">
    <div class="heading">
      <h1 class="text-center">SHOPPING CART</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-sm-8">

    <table class="table table-responsive">
      <thead>
        <tr>
          <th>PRODUCT</th>
          <th>PRICE</th>
          <th>QUANTITY</th>
          <th>SUB TOTAL</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img src="../../assets/images/signup.jpg" alt="">
            <div class="display-inlineblock">
              <h5>HP 14 Notebook 750GB 8gbwdqwdqwdq</h5>
              <h6>
                <span>SKU:</span> 123456</h6>
            </div>
          </td>
          <td>Rs. 50,000/-</td>
          <td>
            <input class="form-control" type="number">
          </td>
          <td>Rs. 50,000/-</td>
          <td>
            <i class="fa fa-lg fa-trash"></i>
          </td>
        </tr>
        <tr>
          <td>
            <img src="../../assets/images/signup.jpg" alt="">
            <div class="display-inlineblock">
              <h5>HP 14 Notebook 750GB 8gb</h5>
              <h6>
                <span>SKU:</span> 123456</h6>
            </div>
          </td>
          <td>Rs. 50,000/-</td>
          <td>
            <input class="form-control" type="number">
          </td>
          <td>Rs. 50,000/-</td>
          <td>
            <i class="fa fa-lg fa-trash"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="bar">
      <span class="pull-left">
        <button class="btn">
          <i class="fa fa-trash-o"></i> &nbsp; EMPTY CART</button>
      </span>
      <span class="pull-right">
        <button class="btn">
          <i class="fa fa-shopping-bag"></i> &nbsp; CONTINUE SHOPPING</button>
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="box">
      <div class="discount">
        <span>
          DISCOUNT CODES
          <input type="text">
          <button class="btn">
            <i class="fa fa-check"></i> APPLY</button>
        </span>
      </div>
      <div class="total pull-right">
          <h6 class="col-sm-12 pull-right ">
            <span>Subtotal </span> Rs. 50,000/- </h6>

          <h6 class="col-sm-12 pull-right ">
            <span>Delivery Charges </span> Rs. 150/- </h6>

        <div class="total-price pull-right">
          <h4> GRAND TOTAL <span class="price">Rs. 50,150/-</span></h4>
          
        </div>
        <button class="btn pull-right">
          <i class="fa fa-shopping-cart"></i>&nbsp; PROCEED TO CHECKOUT</button>
      </div>
    </div>
  </div>
</div>
