.back-image {
  height: 200px;
  .cart {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/apple.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .heading {
      height: inherit;
      h1 {
        top: 5.7%;
        left: 1%;
        width: 98%;
        position: relative;
        text-align: center;
        background-color: rgba(43, 42, 42, 0.7);
        color: #ffffff;
        line-height: 2.3;
        padding: 40px;
        font-size: 3em;
        margin: 0px;
      }
    }
  }
}

.container {
  margin-top: 40px;
  hr {
    margin: 0px;
  }
  .display-inlineblock {
    margin-left: 20px;
    display: inline-block !important;
    span {
      font-weight: 700;
    }
    h5 {
      margin-top: 0px;
      font-weight: 700; // word-wrap: break-word;
      width: 205px;
    }
  }
  td {
    vertical-align: inherit;
  }
  td:first-child {
    width: 53%;
  }
  td:nth-child(3) {
    width: 15%;
    input {
      padding-right: 5px;
    }
  }
  img {
    width: 70px;
    height: 60px;
    vertical-align: top;
  }
  .bar {
    height: 60px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 12px;
    button {
      color: #fff;
      background-color: #444;
    }
  }
  .box {
    .discount {
      margin-bottom: 20px;
      border: 1px solid #ddd;
      font-size: 12px;
      padding: 8px;
      background-color: #f4f4f4;
      .btn {
        color: #fff;
        background-color: #444;
        padding: 6px;
        font-size: 1em;
      }
      input {
        margin-right: 5px;
        margin-left: 5px;
      }
    }
    .total {
      text-align: right;
      margin-bottom: 20px;
      border: 1px solid #ddd;
      padding: 15px;
      background-color: #f4f4f4;
      h6 {
          padding: 0px;
        font-weight: 600;
        span {
          margin-right: 10px;
        }
      }
      .total-price {
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        margin-bottom: 22px;
        h4{
            margin: 0px;
        }
        .price {
          font-weight: bold;
          margin-left: 10px;
        }
      }
      .btn {
        color: #fff;
        background-color: #444;
      }
    }
  }
}
