<div class="back-image">
  <div class="signup">
    <div class="heading">
      <h1 class="text-center">SIGN UP</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <h4>CREATE FREE ACCOUNT BY SIMPLY FILLING THESE FIELDS</h4>
    <form action="">
      <div class="col-sm-6">
        <input class="form-control" type="text" placeholder="First Name">
      </div>
      <div class="col-sm-6">
        <input class="form-control" type="text" placeholder="Last Name">
      </div>
      <br>
      <br>
      <div class="col-sm-12">
        <select class="form-control">
          <option disabled>Gender</option>
          <option value="">Male</option>
          <option value="">Female</option>
        </select>
      </div>
      <br>
      <br>
      <div class="col-sm-6">
        <input class="form-control" type="text" placeholder="User Name">
      </div>
      <div class="col-sm-6">
        <input class="form-control" type="email" placeholder="Email">
      </div>
      <br>
      <br>
      <div class="col-sm-6">
        <input class="form-control" type="password" placeholder="Password">
      </div>
      <div class="col-sm-6">
        <input class="form-control" type="password" placeholder="Confirm Password">
      </div>
      <br>
      <br>
      <br>
      <div class="col-sm-12">
        <span>
          <input type="checkbox"> &nbsp; I want to recieve Ideal Bazar's Newsletter and SMS with best deals and offers.</span>
        <span class="pull-right">All Fields Are Required *</span>
      </div>
      <br>
      <br>
      <div class="col-sm-12">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
          <button class="btn btn-submit">SIGN UP</button>
        </div>
        <div class="col-sm-5"></div>
      </div>
    </form>
  </div>
</div>
